/* custom_admin_styles.css */


#content-main {
    max-width: 1200px;
    margin: 0 auto;
}


.action-checkbox + .action-checkbox + .action-checkbox label {
    margin-left: 10px;
}


fieldset {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}


.collapse {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ddd;
}