body {
    font-family: system-ui;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: brown;
    text-align: center;
}

section {
    padding-top: 20px;
    padding-left: 17%;
    padding-right: 17%;
}