body {
    font-family: system-ui;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgb(248, 196, 245);
    color: rgb(48, 35, 58);
}

header {
    margin: 0px;
    border: 0px;
    background-color: rgb(36, 33, 31);
    background-image: url("../images/img.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 5em;
    letter-spacing: -0.1em;
    color: rgb(248, 196, 245);
    text-align: center;
}

section {
    padding-top: 20px;
    padding-left: 17%;
    padding-right: 17%;
}

nav {
    text-align: right;
    font-size: 1.8em;
    margin: 0px;
    border: 0px;
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

a {
    color: rgb(48, 35, 58);
}

a:hover {
    background: rgb(48, 35, 58);
    color: rgb(248, 196, 245);
}