body {
    font-family: system-ui;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgb(248, 196, 245);
    color: rgb(48, 35, 58);
}

header {
    margin: 0px;
    border: 0px;
    background-color: rgb(36, 33, 31);
    background-image: url("../images/img.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 5em;
    letter-spacing: -0.1em;
    color: rgb(248, 196, 245);
    text-align: center;
}

section {
    padding-top: 20px;
    padding-left: 17%;
    padding-right: 17%;
}

nav {
    text-align: right;
    font-size: 1.8em;
    margin: 0px;
    border: 0px;
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

a {
    color: rgb(48, 35, 58);
}

a:hover {
    background: rgb(48, 35, 58);
    color: rgb(248, 196, 245);
}

.container {
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    justify-content: space-between;
}

.card {
    background-color: rgb(207, 159, 228);
    width: 210px;
    height: 250px;
    border-radius: 8px;
}

.card-image {
    background-color: rgb(122, 85, 155);
    height: 120px;
    margin-bottom: 15px;
    border-radius: 8px 8px 0 0;
}

.card h2 {
    padding-left: 15px;
}