{% extends "base.html" %}

{% block titulo %}Detalles de la banda{% endblock %}


{% block contenido %}
    <h2>Datos de la banda</h2>
        {% if banda %}
            <ul>
                <li>
                    Nombre: 
                    {{ banda.nombre}}
                </li>
                <li>
                    Pais de Origen: 
                    <a href="/appJukeBox/paises/{{ banda.pais.id }}">{{ banda.pais}}</a>
                </li>
                <li>
                    Descripcion: 
                    {{ banda.descripcion}}
                </li>
            </ul>
            <h3>Lista de estilos</h3>
            {% if estilos %}
                <ul>
                    {% for e in estilos %}
                        <li>
                            <a href="/appJukeBox/estilos/{{ e.id }}">{{ e.nombre}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tiene estilos asociados.</p>
            {% endif %}
        {% else %}
            <p>No existe esta banda.</p>
    {% endif %}
{% endblock %}