{% extends "base.html" %}

{% load i18n %}

{% block titulo %}Bandas{% endblock %}

{% block contenido %}
    <h2>{% trans "Lista de bandas" %}</h2>

    <section class="container">
        {% if bandas %}
            {% for b in bandas %}
            <div class="card" onclick="redirect('/bandas/{{ b.id }}')">
                <div class="card-image">
                    {% if b.imagen %}
                    <img src="{{b.imagen.url}}" alt="sin imagen">
                    {% endif %}
                </div>
                <div class="card-content">
                    <h2>
                        {{ b.nombre}}
                    </h2>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No hay bandas creadas.</p>
        {% endif %}
    </section>
 
{% endblock %}