<!DOCTYPE html>
<html lang="en">
    
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <title>{% block titulo %}JukeBox{% endblock %}</title>
        {% block javascript %}
        {% endblock %}
    </head>
    <body>
        <div id="content">
         <header>
            <h1>JukeBox</h1>
         </header>
         <nav>
            <a id="index" href="/">Inicio</a>
            <a id="estilos" href="/estilos" >Estilos</a>
            <a id="bandas" href="/bandas">Bandas</a>
            <a id="paises" href="/paises">Paises</a>
            <a id="formulario" href="/formulario">Formulario</a>
          </nav>
	     <section>
             {% block contenido %}{% endblock %}
         </section>
        </div>
    </body>
</html>