<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<html lang="en">
    
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <title>{% block titulo %}JukeBox{% endblock %}</title>
        {% block javascript %}
        {% endblock %}
    </head>
    <body>
        <div id="content">
         {% block idiomas %}
         {% endblock %}
         <header>
            <h1>JukeBox</h1>
         </header>
         <nav>
            <a id="index" href="/{{LANGUAGE_CODE}}/">{% trans "Inicio" %}</a>
            <a id="estilos" href="/{{LANGUAGE_CODE}}/estilos" >{% trans "Estilos" %}</a>
            <a id="bandas" href="/{{LANGUAGE_CODE}}/bandas">{% trans "Bandas" %}</a>
            <a id="paises" href="/{{LANGUAGE_CODE}}/paises">{% trans "Paises" %}</a>
            <div class="dropdown">
                <a id="formulario">{% trans "Formularios" %}</a>
                <div class="content">
                    <a id="f_banda" href="/{{LANGUAGE_CODE}}/formulario_banda">{% trans "Banda" %}</a>
                    <a id="f_estilo" href="/{{LANGUAGE_CODE}}/formulario_estilo">{% trans "Estilo" %}</a>
                    <a id="f_pais" href="/{{LANGUAGE_CODE}}/formulario_pais">{% trans "Pais" %}</a>
                </div>
            </div>
            <div class="dropdown color">
                <a id="colores">{% trans "Paleta de colores" %}</a>
                <div class="content">
                    <a id="def" onclick="apply_default()">Default</a>
                    <a id="hc" onclick="apply_hc()">High Contrast</a>
                    <a id="dk" onclick="apply_dark()">Dark</a>
                </div>
            </div>
          </nav>
	     <section id="dinamico">
             {% block contenido %}{% endblock %}
         </section>
        </div>

        <!-- hasta solucionar el problema el codigo javascript estará aquí -->
        <script>
            // Divs as links
            function redirect(link) {
                window.location = link; 
            }

            // Theme management
            var r = document.querySelector(':root');
            
            const storeIdioma = function(idioma) {
                localStorage.setItem("idioma",idioma)
            }
            
            const retrieveIdioma = function() {
                const activeIdioma = localStorage.getItem("idioma");
                r.style.setProperty('--transition-time', '0s');
                if (activeIdioma == 1) {
                    apply_es();
                } else if (activeIdioma == 0) {
                    apply_eu();
                } else {
                    apply_en();
                }
                r.style.setProperty('--transition-time', '0.5s');
            }

            var idioma = 'es';

            function cambiarIdioma(codigo) {
                idioma = codigo
            }

            const storeTheme = function(theme) {
                localStorage.setItem("theme",theme);
            }

            const retrieveTheme = function() {
                const activeTheme = localStorage.getItem("theme");
                r.style.setProperty('--transition-time','0s');
                if (activeTheme == 0) {
                    apply_default();
                } else if (activeTheme == 1) {
                    apply_hc();
                } else {
                    apply_dark();
                }
                r.style.setProperty('--transition-time','0.5s');
            }
            
            window.onload = retrieveTheme();

            function apply_eu() {
                localStorage.setProperty('idioma', 'eu');
            }

            function apply_es() {
                localStorage.setProperty('idioma', 'es');
            }

            function apply_en() {
                localStorage.setProperty('idioma', 'en');
            }

            function apply_default() {
                r.style.setProperty('--color-primario', 'rgb(248, 196, 245)');
                r.style.setProperty('--color-acento-oscuro', 'rgb(48, 35, 58)');
                r.style.setProperty('--color-acento-claro', 'rgb(207, 159, 228)');
                r.style.setProperty('--color-bordes', 'rgb(122, 85, 155)');
                r.style.setProperty('--color-acento-transicion', 'rgb(201, 137, 228)');
                r.style.setProperty('--color-seleccion-texto', 'rgb(255, 238, 254)');
                r.style.setProperty('--color-seleccion-fondo', 'rgb(233, 92, 223)');

                storeTheme(0);
            }

            function apply_hc() {
                r.style.setProperty('--color-primario', 'rgb(255, 255, 255)');
                r.style.setProperty('--color-acento-oscuro', 'rgb(0, 0, 0)');
                r.style.setProperty('--color-acento-claro', 'rgb(212, 212, 212)');
                r.style.setProperty('--color-bordes', 'rgb(0, 0, 0)');
                r.style.setProperty('--color-acento-transicion', 'rgb(156, 156, 156)');
                r.style.setProperty('--color-seleccion-texto', 'rgb(255, 255, 255)');
                r.style.setProperty('--color-seleccion-fondo', 'rgb(0, 0, 0)');

                storeTheme(1);
            }

            function apply_dark() {
                r.style.setProperty('--color-primario', 'rgb(41, 41, 41)');
                r.style.setProperty('--color-acento-oscuro', 'rgb(158, 158, 158)');
                r.style.setProperty('--color-acento-claro', 'rgb(27, 27, 27)');
                r.style.setProperty('--color-bordes', 'rgb(0, 0, 0)');
                r.style.setProperty('--color-acento-transicion', 'rgb(19, 19, 19)');
                r.style.setProperty('--color-seleccion-texto', 'rgb(158, 158, 158)');
                r.style.setProperty('--color-seleccion-fondo', 'rgb(0, 0, 0)');

                storeTheme(2);
            }
        </script>
    </body>
</html>