{% extends "base.html" %}

{% block titulo %}Detalle del estilo{% endblock %}

{% block contenido %}
    <h2>Datos del estilo</h2>
    {% if estilo %}
            <ul>
                <li>
                    <b>Nombre:</b> 
                    {{estilo.nombre}}
                </li>
                <li>
                    <b>Descripción:</b>
                    {{ estilo.descripcion}}
                </li>
            </ul>
            <h3>Lista de bandas</h3>
            {% if bandas %}
            <ul>
                {% for b in bandas %}
                <li>
                    <a href="/appJukeBox/bandas/{{ b.id }}">{{ b.nombre}}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                No hay bandas dentro de este estilo
            {% endif %}
    {% else %}
        <p>No existe este estilo.</p>
    {% endif %}
{% endblock %}