{% extends "base.html" %}

{% load i18n %}

{% block titulo %}Detalles de la banda{% endblock %}

{% block contenido %}
    <h2>{% trans "Añade una banda" %}</h2>
    {% if submitted %}
        <section class="form-submitted">
            <div class="card">
                <p>¡Tu banda se ha añadido con éxito!</p>
            </div>
        </section>
    {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <section class="form-container">
                <div class="card">
                    <div class="form-card-content">
                        <label> Nombre <br>{{ form.nombre }}</label><br>
                    </div>
                </div>
            
                <div class="card">
                    <div class="form-card-content">
                        <label> Pais <br>{{ form.pais }}</label><br>
                    </div>
                </div>

                <div class="card">
                    <div class="form-card-content">
                        <label> Descripcion <br> {{ form.descripcion }}</label><br>
                    </div>
                </div>
                
                <div class="card">
                    <div class="form-card-content">
                        <label> Estilos <br> {{ form.estilos }}</label><br>
                    </div>
                </div>

                <div class="card">
                    <div class="form-card-content">
                        <label> Imagen <br> {{ form.imagen }}</label><br>
                    </div>                   
                </div>
            </section>

            <div class="button">
                <input type="submit" value="Submit" class="submit-form">
            </div>
        </form>
    {% endif %}
   

{% endblock %}