{% extends "base.html" %}

{% block titulo %}Listado de estilos{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/effects.js' %}"></script>
    <script src="{% static 'js/jquery.qtip-1.0.0-rc3.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}

{% block contenido %}
    
    <div>
        <h2 class="listado">Listado de paises</h2>
    </div>
    
    <section class="container">
        {% if lista_banda %}
        {% for b in lista_banda %}
            <div class="card">
                <div class="card-image">
                    {% if b.imagen %}
                    <img src="{{b.imagen.url}}" alt="sin imagen">
                    {% endif %}
                </div>
                <div class="card-content">
                    <h2>
                        <a href="/paises/{{ b.pais.id }}">{{ b.pais }}</a>
                    </h2>
                    <ul>
                        <li>
                            <a href="/bandas/{{ b.id }}">{{ b.nombre}}</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        {% endfor %}
        {% else %}
        <p>No hay estilos creados.</p>
        {% endif %}
    </section>


{% endblock %}