<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Listado de estilos</title>
    </head>
    <body>
        <div id="content">
	     <h1>Gestor de Bandas</h1>
         <h2>Listado de estilos</h2>
         {% if lista_estilos %}
             <ul>
             {% for e in lista_estilos %}
                 <li>
                     <a href="/appEmpresaDjango/estilos/{{ e.id }}">{{ e.nombre}}</a>
                 </li>
             {% endfor %}
             </ul>
         {% else %}
         <p>No hay estilos creados.</p>
         {% endif %}
        </div>
    </body>
</html>