{% extends "base.html" %}

{% block titulo %}Listado de estilos{% endblock %}

{% block contenido %}
    {% if lista_banda %}
             {% for b in lista_banda %}
                <h2>
                    <a href="/appJukeBox/paises/{{ b.pais.id }}">{{ b.pais }}</a>
                </h2>
                <ul>
                    <li>
                        <a href="/appJukeBox/bandas/{{ b.id }}">{{ b.nombre}}</a>
                    </li>
                </ul>
             {% endfor %}
         {% else %}
         <p>No hay estilos creados.</p>
    {% endif %}
{% endblock %}