{% extends "base.html" %}

{% block titulo %}Paises{% endblock %}

{% block contenido %}
    <h2>Lista de paises</h2>

    <section class="container">
        {% if paises %}
            {% for p in paises %}
            <div class="card" onclick="redirect('/paises/{{ p.id }}')">
                <div class="card-content">
                    <h2>
                        {{ p.nombre}}
                    </h2>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No hay paises añadidos.</p>
        {% endif %}
    </section>
    
{% endblock %}