{% extends "base.html" %}

{% block titulo %}Detalles del pais{% endblock %}

{% block contenido %}
    <h2>Datos del pais</h2>
    {% if pais %}
            <ul>
                <li>
                    <b>Nombre:</b> {{ pais.nombre}}
                </li>
            </ul>
            <h3>Lista de bandas</h3>
            
            {% if bandas %}
            <ul>
                {% for b in bandas %}
                    <li>
                        <a href="/bandas/{{ b.id }}">{{ b.nombre}}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No tiene bandas asociadas.</p>
            {% endif %}
        {% else %}
            <p>No se ha añadido este pais.</p>
    {% endif %}
{% endblock %}