{% extends "base.html" %}

{% block titulo %}Detalles del pais{% endblock %}

{% block contenido %}
    <h2>Datos del pais</h2>
    {% if pais %}
            <section class="detail">
                <div class="card">
                    <ul>
                        <li>
                            <b>Nombre:</b> {{ pais.nombre}}
                        </li>
                    </ul>
                </div>
            </section>
            
            <h2>Lista de bandas</h2>
            
            <section class="container">
                {% if bandas %}
                    {% for b in bandas %}
                    <div class="card">
                        <div class="card-image">
                            {% if b.imagen %}
                            <img src="{{b.imagen.url}}" alt="sin imagen">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <h2>
                                <a href="/bandas/{{ b.id }}">{{ b.nombre}}</a>
                            </h2>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    No hay bandas dentro de este estilo
                {% endif %}
            </section>
    {% else %}
        <p>No se ha añadido este pais.</p>
    {% endif %}
{% endblock %}